<div class="md:p-10 bg-[#f2f7fb] min-h-screen">
    <div class="flex justify-between md:mb-8">
        <div class="flex">
            <div class="bg-[#4199fe] rounded p-2 flex-none w-14 h-14 place-items-center mr-4 shadow-xl">
                <mat-icon class="text-white text-4xl m-auto" >home</mat-icon>
            </div>
            <div>
                <h4>Dashboard CRM</h4>
                <p>lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
        </div>
        <p class="item-b"><mat-icon class="text-lg" >home</mat-icon><span class="mx-2">/</span>Dashboard CRM</p>
    </div>
    <div class="md:grid grid-cols-4 gap-4 text-white">
        <div class="bg-[#e94d6d] rounded-lg md:py-4 md:px-5">
            <div class="flex justify-between md:mb-5">
                <div>
                    <small class="text-base">Total Profits</small>
                    <p  class="text-lg font-semibold">$1,783<p>
                </div>
                <div class="bg-[#ffffff] rounded-full p-2 flex-none w-12 h-12 shadow-xl">
                    <mat-icon class="text-[#e94d6d] m-auto text-3xl" >local_atm</mat-icon>
                </div>
            </div>
            <p class=""><small class="md:mr-2">+11%</small>From Previous Month</p>
        </div>
        <div class="bg-[#4199fe] rounded-lg md:py-4 md:px-5">
            <div class="flex justify-between md:mb-5">
                <div>
                    <small class="text-base">Total Orders</small>
                    <p  class="text-lg font-semibold">15,830<p>
                </div>
                <div class="bg-[#ffffff] rounded-full p-2 flex-none w-12 h-12 shadow-xl">
                    <mat-icon class="text-[#4199fe] m-auto text-3xl" >dns</mat-icon>
                </div>
            </div>
            <p class=""><small class="md:mr-2">+11%</small>From Previous Month</p>
        </div>
        <div class="bg-[#6cd9b7] rounded-lg md:py-4 md:px-5">
            <div class="flex justify-between md:mb-5">
                <div>
                    <small class="text-base">Average Price</small>
                    <p  class="text-lg font-semibold">$6,780<p>
                </div>
                <div class="bg-[#ffffff] rounded-full p-2 flex-none w-12 h-12 shadow-xl">
                    <mat-icon class="text-[#6cd9b7] m-auto text-3xl" >attach_money</mat-icon>
                </div>
            </div>
            <p class=""><small class="md:mr-2">+11%</small>From Previous Month</p>
        </div>
        <div class="bg-[#f7b54b] rounded-lg md:py-4 md:px-5">
            <div class="flex justify-between md:mb-5">
                <div>
                    <small class="text-base">Product Sold</small>
                    <p  class="text-lg font-semibold">6,784<p>
                </div>
                <div class="bg-[#ffffff] rounded-full p-2 flex-none w-12 h-12 shadow-xl">
                    <mat-icon class="text-[#f7b54b] m-auto text-3xl" >local_offer</mat-icon>
                </div>
            </div>
            <p class=""><small class="md:mr-2">+11%</small>From Previous Month</p>
        </div>
        
    </div>
</div>
